<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.momo.library">

    <application android:allowBackup="true"
        android:supportsRtl="true">

        <!--微信 登录分享必须 要配置的-->
        <activity android:name="${package}.wxapi.WXEntryActivity"
            android:exported="true">

        </activity>

        <!--微博 webview-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!--QQ 授权认证-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent${tencent}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden">
        </activity>

    </application>

</manifest>
